<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jsonnet tracer</title>
    <style>
        body {
            padding: 0;
        }
        
        #container {
            padding: 2rem;
            width: 80vw;
            min-width: 800px;
            display: flex;
        }



        #editor {
            position: relative;
            width: 40vw;
            height: 80vh;
        }

        #trace-container {

        }

    </style>
</head>
<body>
    <h1>{{- .Filename -}}</h1>
    <div id="container">
        <div id="editor">{{- .Result -}}</div>
        <div id="trace-container">

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js"></script>
    <script>
        const traceInfo = new Map();
        {{range $key, $value := .Frames}}
        traceInfo[{{$key}}] = [];
            {{range $i, $item := $value}}
            traceInfo[{{$key}}][{{$i}}] = { 
                filename: "{{$item.Filename}}", 
                startLine: {{$item.StartLine}}, 
                endLine: {{$item.EndLine}},
            };
            {{end}}
        {{end}}

        console.log(JSON.stringify(traceInfo));

        const traceContainer = document.getElementById("trace-container");

        const editor = ace.edit("editor");
        editor.setTheme("ace/theme/github");
        editor.session.setMode("ace/mode/json");
        editor.setOptions({
            "selectionStyle": "line",
            "readOnly": "true",
        })
        editor.session.selection.on("changeCursor", function(e) {
            const row = editor.selection.getCursor().row;
            console.log(row)
            const trace = traceInfo[row];
            console.log(JSON.stringify(trace))
            let content = "";
            if (trace !== undefined) {
                for (const item of trace) {
                    content = `${item.filename}:${item.startLine}`;
                    if (item.startLine !== item.endLine) {
                        content += `-${item.endLine}`
                    }
                    content += "\n"
                }
            }
            traceContainer.textContent = content;
        })
    </script>
</body>
</html>